.blog-container {
  padding: 60px 8%;
}

.blog-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  margin-bottom: 40px;
  color: gray;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
  gap: 25px;
}

.blog-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  transition: 0.3s;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-content {
  padding: 15px;
}

.blog-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.blog-content p {
  font-size: 14px;
  color: #555;
}

.blog-content a {
  display: inline-block;
  margin-top: 10px;
  color: #e53935;
  font-weight: bold;
  text-decoration: none;
}
.blog-filter {
  text-align: center;
  margin-bottom: 30px;
}

.blog-filter select {
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
